.logo{
    width: 100%;
  max-width: 169px;
  height: 24px;
  color:yellowgreen;
  object-position: left top;
  
}

.link{
  color:'blue';
  font-size: 18pt;
  font-weight: bold;
  margin-right: 2.5rem;
}
.linkGetStarted{
  color:'white';
}
